<!--
  ngIf:

  <div *ngIf="value">content1</div>

  ngIf - Else:

  <div *ngIf="value else c1">content1</div>
<ng-template #c1>
  <p>Hello {{name}}</p>
</ng-template>-->
<br><br>
<br><br>
<div class="container">
   <h1>Demo to explain ngIf-Else</h1>
      <button (click)="fun()">change</button>
      <div *ngIf="isNammi then c1 else c2">
      </div>
          <ng-template #c1>
            <p>Hello {{name}}</p>
          </ng-template>
          <ng-template #c2>
            <p>Hello Everyone</p> 
           </ng-template>
</div>
<div class="container">
<h1>Demo to explain ngSwitch</h1>
<input type="number" [(ngModel)]="value" placeholder="Enter the number">
<div [ngSwitch]="value">
  <p *ngSwitchCase='0'>Sunday</p>
  <p *ngSwitchCase='1'>Monday</p>
  <p *ngSwitchCase='2'>Tuesday</p>
  <p *ngSwitchCase='3'>Wedesday</p>
  <p *ngSwitchCase='4'>Thursday</p>
  <p *ngSwitchCase='5'>Friday</p>
  <p *ngSwitchCase='6'>Saturday</p>
  <p *ngSwitchDefault="">Wrong Input</p>
</div>
</div>
 <div class="container">
<h1>Demo to explain ngSwitch</h1>
<input type="type" [(ngModel)]="value1" placeholder="Enter the day">
<div [ngSwitch]="value1">
  <p *ngSwitchCase="'Sunday'">0</p>
  <p *ngSwitchCase="'Monday'">1</p>
  <p *ngSwitchCase="'Tuesday'">2</p>
  <p *ngSwitchCase="'Wedesday'">3</p>
  <p *ngSwitchCase="'Thursday'">4</p>
  <p *ngSwitchCase="'Friday'">5</p>
  <p *ngSwitchCase="'Saturday'">6</p>
  <p *ngSwitchDefault="">Wrong Input</p>
</div>
</div>
